* {
    scrollbar-width: thin !important;
}

html {
    overflow-x: hidden !important;
}

body {
    margin: 0;
    padding: 0;
    /*background: var(--bg-main);*/
    /*color: var(--fonts-color);*/
    font-family: var(--font);
    overflow-x: hidden;
    background: linear-gradient(135deg, #0d8b95 0%, #076c75 35%, #04545c 70%, #02373e 100%);
    color: white;
}

:root {
    --font: "Karla", sans-serif;
    --font-color: #fff;
    --grad1: #feda75;
    --grad2: #fa7e1e;
    --grad3: #d62976;
    --grad4: #962fbf;
    --grad5: #4f5bd5;
    --viewed: gray;
    --bg-main: #000;
    --bg-live: red;
}

.profile-story {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid purple;
    transition: all 0.4s;
}

.profile-story:hover {
    cursor: pointer;
}

.user-profile:after {
    content: "";
    width: 1px;
    height: 65px;
    background-color: #343a403b;
    display: block;
    position: absolute;
    left: 0.7rem;
    top: 0;
}

.scroll-x {
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.border-grey {
    border-color: #343a40 !important;
}

.border-bottom-radius-0 {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.border-top-radius-0 {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.rounded-10 {
    border-radius: 10px !important;
}

.rounded-20 > div {
    border-radius: 20px !important;
}

.profile {
    border-radius: 50%;
    border: 3px solid #343a403b;
    width: 35px;
    height: 35px;
    transition: all 0.4s;
}

.lslide {
    text-align: center !important;
}

.card-header:first-child {
    border-radius: 20px 20px 0 0 !important;
}

.card-footer:last-child {
    border-radius: 0 0 20px 20px !important;
}

.like {
    display: none;
    font-size: 25px;
}

.dislike {
    font-size: 25px;
}

.comment {
    font-size: 25px;
}

.dislike:hover, .like:hover, .comment:hover {
    cursor: pointer;
}

.object-fit-contain {
    object-fit: contain !important;
}

.fs-13 {
    font-size: 13px;
}

.caption {
    max-height: 5rem;
    overflow-y: scroll;
}

.footer-card {
    position: fixed;
    bottom: 0;
    display: block;
    right: 0;
    left: 0;
    height: 3rem;
    background: white !important;
    border-radius: 20px 20px 0 0;
    z-index: 100;
    box-shadow: #0000004d 0px 0px 20px 20px;
}

.card-profile {
    width: 2rem;
    height: 2rem;
    margin-right: 8px;
    border: 2px solid purple;
    border-radius: 50%;
}

.icon-size {
    font-size: 2rem;
}

.footer-card a:hover {
    text-decoration: none;
}

.footer-card a {
    color: #8e8e8e;
}

.dropzone {
    min-height: 150px;
    border: 2px solid rgb(0 0 0 / 10%) !important;
    background: white;
    padding: 20px 20px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

